*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

.FORM{
  display: flex;
  font-family: sans-serif;
  text-align: center;
  color:#498DEA;
  justify-content: space-around;
  font-size: 2vh;
}

.FORM{
  background-color: #ECE1DB;
  max-width:100%;
  height: auto;
}
